body{
	background: #C1D7D3;
}

h1, h2, h3, body{
	font-family: "amatic sc", cursive;
}

head, body{
text-align: center;
}

#Ilona_Drugeon{
	width: 250px;
	border-radius: 50%;
	border: 50px;
}

.cadre{
	background: white;
	padding: 8px;
	padding-bottom: 10px;
	border-radius: 50px;
	margin: 25px auto;
	width: 750px;
	background: #EDEDED;
	box-shadow: 10px 10px 13px #A2C6C4;
}

h1{
	color: #3E5265;
	font-size: 65px;
	margin-top: 8px;
	margin-bottom: 8px;
}

h2{
	color: #3E5265;
	font-size: 25px;
	margin-top: 8px;
	margin-bottom: 8px;

}

h3{
	color: #3E5265;
	font-size: 35px;
	margin-top: 8px;
	margin-bottom: 8px;
}

p{
	color: #3E5265;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

a{
	text-decoration: none;
	color: #3E5265;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #3E5265;
	font-size: 17px;
}

a:hover{
	color: #78A8A9;
}

.icones{
	font-size: 18px;
}

button{
	border-color: #C1D7D3;
	font-family:"amatic sc", cursive ;
	font-size: 17px;
}


@media (max-width: 720px) {
	.cadre {
		width: 100%;
	}
}